.box {
  display: inline-block;
  border: 1px solid black;
  width: 15px;
  height: 15px;
  margin-left: -1px;
  margin-bottom: -1px;
}

.on {
  background-color: #c32aff;
}

.off {
  background-color: #00ff00;
}

.grid {
  width: 150px;
  margin: auto;
  margin-top: 20px;
  line-height: 0
}

.title {
  text-align: center
}

.gens {
  text-align: center
}